.ToolBar {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 90;
  padding: 0 20px;
  box-sizing: border-box;
}

/* .ToolBar--background {
  background-color: #DBE6EC;
} */

@media (max-width: 499px) {
  .ToolBar {
    display: none;
  }
}