.header__toolbar {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  /* background-color: rgb(231, 229, 227); */
  background-color: #DBE6EC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 90;
  padding: 0 20px;
  box-sizing: border-box;
}

@media (max-width: 499px) {
  .header__toolbar {
    display: none;
  }
}