.header__nav-link {
  margin: 10px 0;
  display: block;
  width: 100%;
}

.header__nav-link a {
  color: #8F5C2C;
  text-decoration: none;
  width: 100%;
  display: block;
}

/* .header__nav-link a:hover,
.header__nav-link a:active,
.header__nav-link a.active {
  color: #40A4C8;
} */

@media (min-width: 500px) {
  .header__nav-link {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
  }
  
  .header__nav-link a {
    color: white;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
  }
  
  .header__nav-link a {
    background-color: #266C78;
    border-bottom: 4px solid #C4543D;
    color: white;
  }
}