.header__nav-link {
  margin: 10px 0;
  display: block;
  width: 100%;
  padding: 0 10px;
  
}

.header__nav-link a {
  text-decoration: none;
  width: 100%;
  display: block;
  color: white;
  background-color: #266C78;
  padding: 10px 25px;
  border-radius: 0.25rem;
}

@media (min-width: 500px) {
  .header__nav-link {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
  }
  
  .header__nav-link a:hover {
    border-bottom: 1.5px solid #C4543D;
  }
}