.ListItems {
  display: flex;
  flex-direction: column;
  width: 700px;
  max-height: 700px;
  border: 1px solid #000;
  background-color: #DBE6EC;
  position: relative;
  color: $main_color;
  overflow-y: scroll;
}

.ListItems__header {
  height: 70%;
  z-index: 90;
}

.ListItems__list {
  list-style: none;
  padding: 0;
}