$main_color: #266C78;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$main_font: 'Roboto', sans-serif;

@import '../containers/Layout/Layout.scss';
@import '../components/Navigation/Logo/Logo.scss';
@import '../components/Navigation/NavigationItems/NavigationItem/NavigationItem.scss';
@import '../components/Navigation/NavigationItems/NavigationItems.scss';
@import '../components/Navigation/ToolBar/ToolBar.scss';
@import '../components/ShopListItem/ShopListItem.scss';
@import '../components/UI/Button/Button.scss';
@import '../containers/ShoppingList/ShoppingList.scss';
@import '../components/UI/Input/Input.scss';
@import '../containers/AddList/AddList.scss';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main_font;
}



