.Layout {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  margin-top: 1rem;
  max-width: 1000px;
}

@include tablet_up {
  .Layout {
    margin-top: 10rem;
  }
}