.ShopListItem__item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid $main_color;
  margin: 15px 10px;
  background-color: #fff;
  cursor: pointer;
}

.ShopListItem__name, 
.ShopListItem__amount {
  font-weight: bold;
  padding: 0 10px;
}

.ShopListItem__delete {
  color: red;
  font-weight: bold;
}
